<footer class="border-top border-dark mt-5 p-3">
    <div class= "d-flex p-2 mt-4 justify-content-between">
        <div class="d-flex ml-3" >
            <img src="https://img.freepik.com/vector-gratis/logotipo-viaje-detallado_23-2148616611.jpg?w=2000" class="square">
            <p class="flex-item m-3">© 2021 travels. inc</p>
        </div>
        <div class= "flex-item d-flex mt-3">
            <a href="https://es.hoteles.com/" target="_blank"><i class="bi bi-buildings-fill m-3"></i></a>
            <a href="https://www.taquilla.com/articulo-los-mejores-parques-acuaticos-de-espana.html" target="_blank"><i class="bi bi-droplet-half m-3"></i></a>
            <a href="https://www.alsa.es/" target="_blank"><i class="bi bi-bus-front-fill m-3"></i></a>
        </div>
    </div>

</footer>