<div class="container  mt-3">
  <div class="row justify-content-center">
    <div class="col-2 border border-dark border-1 m-4">
      ranking- most visited
      <div class="position-relative">
        <div class="p-5 custom-bg mt-1">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                new york
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                malaga
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                murcia
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                barcelona
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                madrid
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                paris
            </p>
        </div>
      </div>
    </div>
    <div class="col-8 d-flex flex-wrap">
      <div class="col-3 border border-dark border-1 m-4">
        <img class="img-fluid w-100" src="../../assets/pics/newYork.jpg">
        <p>
          new york is a city of the USA, it is big, it has many places, it has a lot of people, and many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
            <div class="rectangle align-self-end">go</div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="img-fluid w-100" src="../../assets/pics/malaga.jpg">
        <p> 
          malaga is a city of Spain it is big, it has many places, it has a lot of people, and many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
            <div class="rectangle align-self-end">go</div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="img-fluid w-100" src="../../assets/pics/murcia.jpg">
        <p>
          murcia is a city of Spain it is big, it has many places, it has a lot of people, and many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
            <div class="rectangle align-self-end">go</div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="img-fluid w-100" src="../../assets/pics/barcelona.jpg">
        <p>
          barcelona is a city of Spain it is big, it has many places, it has a lot of people, and many many buildings
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
            <div class="rectangle align-self-end">go</div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="img-fluid w-100" src="../../assets/pics/madrid.jpg">
        <p>
          madrid is a city of Spain it is big, it has many places, it has a lot of people, and many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
            <div class="rectangle align-self-end">go</div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="img-fluid w-100" src="../../assets/pics/Paris.jpg">
        <p>
         paris is a city of france it is big, it has many places, it has a lot of people, and many many buildings
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
            <div class="rectangle align-self-end"></div>
        </div>          
      </div>
    </div>
  </div>
</div>
