<div class="container  mt-3">
  <div class="row justify-content-center">
    <div class="col-2 border border-dark border-1 m-4">
      ranking- most visited
      <div class="position-relative">
        <div class="custom-bg mt-1">
            <img class="w-100 pics" src="../../assets/pics/newYork.jpg">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0 top custom-bg">
                new york
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="custom-bg mt-3">
            <img class="w-100 pics" src="../../assets/pics/malaga.jpg">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0 top custom-bg">
                malaga
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="custom-bg mt-3">
            <img class="w-100 pics" src="../../assets/pics/murcia.jpg">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0 top custom-bg">
                murcia
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="custom-bg mt-3">
          <img class="w-100 pics" src="../../assets/pics/barcelona.jpg">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0 top custom-bg">
                barcelona
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="custom-bg mt-3">
          <img class="w-100 pics" src="../../assets/pics/madrid.jpg">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0 top custom-bg">
                madrid
            </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="custom-bg mt-3">
            <img class="w-100 pics" src="../../assets/pics/Paris.jpg">
            <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0 top custom-bg">
                paris
            </p>
        </div>
      </div>
    </div>
    <div class="col-8 d-flex flex-wrap">
      <div class="col-3 border border-dark border-1 m-4">
        <img class="w-100 pics" src="../../assets/pics/newYork.jpg">
        <p>
          new york is a city of the USA, it is big, it has many places, it has a lot of people, and many many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
          <a href="https://www.viajeselcorteingles.es/especiales/nueva-york">
            <div class="rectangle align-self-end">go</div>
          </a>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="w-100 pics" src="../../assets/pics/malaga.jpg">
        <p> 
          malaga is a city of Spain it is big, it has a lot of places, it has a lot of people, and many many many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
          <a href="https://www.viajeselcorteingles.es/vuelos/baratos/espana-ES/malaga-AGP/">
            <div class="rectangle align-self-end">go</div>
          </a>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="w-100 pics" src="../../assets/pics/murcia.jpg">
        <p>
          murcia is a city of Spain it is big, it has a lot of places, it has a lot of people, and many many many big buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
          <a href="https://www.viajeselcorteingles.es/especiales/murcia">
            <div class="rectangle align-self-end">go</div>
          </a>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="w-100 pics" src="../../assets/pics/barcelona.jpg">
        <p>
          barcelona is a city of Spain it is big, it has many places, it has a lot of people, and many many buildings
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
          <a href="https://www.skyscanner.es/vuelos-a/bcn/vuelos-baratos-a-barcelona-aeropuerto.html">
            <div class="rectangle align-self-end">go</div>
          </a>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="w-100 pics" src="../../assets/pics/madrid.jpg">
        <p>
          madrid is a city of Spain it is big, it has many places, it has a lot of people, and many many buildings 
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
          <a href="https://www.viajeselcorteingles.es/vuelo-mas-hotel/francia/paris-citfrisparis407">
            <div class="rectangle align-self-end">go</div>
          </a>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <img class="w-100 pics" src="../../assets/pics/Paris.jpg">
        <p>
         paris is a city of france it is big, it has many places, it has a lot of people, and many many buildings
        </p>
        <p>besides, there are cheap fligths and hotels somewhere</p>
        <div class="d-flex justify-content-end">
          <a href="https://www.viajeselcorteingles.es/vuelo-mas-hotel/francia/paris-citfrisparis407">
            <div class="rectangle align-self-end">go</div>
          </a>
        </div>          
      </div>
    </div>
  </div>
</div>
