<div class="  custom-bg w-100 d-inline-block ">
    <h3 class="d-flex justify-content-center flex-item"> Most popular restaurant</h3>
    <div class="row justify-content-center">

        <div class="col-2 m-5">
            <div class="d-flex flex-column align-items-center">
              <div class="rounded-circle bg-danger" style="width: 100px; height: 100px;">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/03/cc/3e/7b/getlstd-property-photo.jpg" class="pics">
            </div>
            <p class="text-center">Time maspalomas is a restaurant with good service and food</p>
            </div>
        </div>

        <div class="col-2 m-5">
            <div class="d-flex flex-column align-items-center">
              <div class="rounded-circle bg-danger" style="width: 100px; height: 100px;">
                <img src="https://res.cloudinary.com/tf-lab/image/upload/w_600,h_310,c_fill,q_auto,f_auto/restaurant/e54528ff-d63d-429e-9853-70d026f905b7/18ce4e21-fd42-4c24-8469-62143c512b54.jpg" class="pics">
              </div>
              <p class="text-center">Marco Polo maspalomas is a restaurant with good service and food</p>
            </div>
        </div>

        <div class="col-2 m-5">
            <div class="d-flex flex-column align-items-center">
              <div class="rounded-circle bg-danger" style="width: 100px; height: 100px;">
                <img src="https://fastly.4sqi.net/img/general/600x600/19185312_eJ9ORnI8sxt97jSEmeg5-pqy-E_nZqc9rQ8SAQ6SMMI.jpg" class="pics">
              </div>
              <p class="text-center">Wapa Tapa maspalomas is a restaurant with good service and food</p>
            </div>
        </div>

        <div class="col-2 m-5">
            <div class="d-flex flex-column align-items-center">
              <div class="rounded-circle bg-danger" style="width: 100px; height: 100px;">
                <img src="https://www.restauranteelsenador.com/assets/images/dsc-2911-2000x1324.jpg" class="pics">
              </div>
              <p class="text-center">El Senador maspalomas is a restaurant with good service and food</p>
            </div>
        </div>
    </div> 
</div>