@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
    font-family: Roboto;
    overflow-x:hidden
}
.custom-bg{
    background-color: rgb(156, 154, 154);
}
.pics{
    width:100%;
    height:100px;
}